body {
    background-image: url(../img/no-image.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.login h1 a {
    background-image: url(../img/logo.png);
    width: 100%;
    background-size: 250px;
    background-position-y: 10px;
    margin-bottom: 0px;
    background-color: gray;
    height: 60px;
    margin-top: 40px;
}

.login form {
    margin-top: 0px;
    padding-top: 15px;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(77, 66, 77, 0.19);
    -moz-box-shadow: 7px 7px 5px 0px rgba(77, 66, 77, 0.19);
    box-shadow: 7px 7px 5px 0px rgba(77, 66, 77, 0.19);
}

.login label {
    color: black;
    font-style: bold;
}

.login #backtoblog,
.login #nav {
    text-align: center;
}

.login #backtoblog a,
.login #nav a,
.login #backtoblog a:hover,
.login #nav a:hover {
    color: black;
    font-size: 16px;
}

.login .button-primary,
.login .button-primary:active,
.login .button-primary:focus {
    background-color: goldenrod;
    border: none;
    text-shadow: none;
    box-shadow: none;
    border-radius: 0;
    padding: 10px 30px !important;
    height: auto !important;
    width: 100%;
    margin-top: 20px;
}

.login .button-primary:hover {
    background-color: coral;
}